@import '../bower_components/uqlibrary-styles/skeleton.scss';

iron-pages {
  padding: 0 !important;
  height: 100%;
}

#paperDrawerPanel {
  display: none;
}

#preloader {
  display: block;
  background-color: #ddd;
  height: 100%;
  overflow: hidden;

  .header {
    width: 100%;
    height: 64px;
    color: #FFF;
    background-color: #49075E;
    line-height: 64px;
    padding-left: 10px;
    font-family: 'Roboto', 'helvetica', 'times new roman', 'sans-serif';
    font-size: 20px;
  }

  #card {
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    max-width: 768px;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 40px 0;
    box-shadow: 5px 5px 5px #999;
    font-size: 20px;
  }
}

@media all and (max-width: 800px) {
  #preloader {
    background-color: #FFF;

    #card {
      box-shadow: none;
      border: none;
    }
  }
}
